.page {
  height: 100vh;
  text-align: center;
  * {
	color: #fff;
	text-decoration: none;
  }
  .box {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	// vh central
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;

	padding: 20px;
	box-sizing: border-box;

	width: 100vw;
	height: auto;
	min-height: 100vh;

	background-size: cover;
	background-position: center;
	&.sakura {
	  background-image: url("../img/bg-sakura-second.jpg");
	  opacity: 0.8;
	}
	&.arch {
	  background-image: url('http://placeimg.com/850/530/arch');
	}
	&.shibuya {
	  background-image: url("../img/bg-shibuya.jpg");
	}
	&.street {
	  background-image: url("../img/bg-street.jpg");
	}

	&.red {
	  background-color: #ce3635;
	}

	p {
	  font-size: 18px;
	  color: white;
	  line-height: 2;
	}
  }
}

////////////////////////


.skill {
  .h1--sikills {
	font-size: 35px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
  }

  p {
	margin: 0 0 25px;
	line-height: 1.5;
  }

  .skill-bar-wrapper {
	font-size: 18px;

  }

  .skillbar-container {
	position: relative;
	display: block;
	margin-bottom: 15px;
	width: 100%;
	background-color: #666463;
	background-color: rgba(255, 255, 255, .1);
	height: 35px;
	height: 5px;
  }

  .skills {
	height: 35px;
	height: 5px;
	width: 0px;
  }
}