.single {

  // font color

  color: #000;
  a {
	color: #000;
	&:hover {
	  color: #000;
	}
  }
  // header
  &__title {
	min-height: 200px;
	text-align: center;
	padding: 80px;
	margin-bottom: 40px;
	color: #fff;
	.the_title {
	  color: #fff;
	  max-width: 100%;
	  font-size: 26px;
	  white-space: normal;
	  margin-bottom: 10px;

	  a {
		color: #fff;
	  }
	}

  }
  // content
  .the_content {
	@media screen and (min-width: 480px) {
	  width: 1080px;
	}
	font-size: 0.875rem;
	line-height: 1.85em;
	color: #000000;
	margin: auto;
	text-align: left;
	height: auto;
	word-wrap: break-word;
	margin-bottom: 85px;

	img,h1,h2,h3,h4,p {
	  margin-bottom: 25px;
	}

  }
  .typewrite {
	height: 30px;
  }
}

// headline
h1.headline {
  font-size: 4rem;
  line-height: 1em;
  text-align: center;
  margin-bottom: 35px;
  //font-family: 'Crimson Text', serif;
  font-family: 'Cormorant Garamond', serif;
}

#container {
  background: #00a0d2;
  text-align: center;

}

.fade-up {
  transition: opacity 0.8s;
  -moz-transition: opacity 0.8s;
  -webkit-transition: opacity 0.8s;
  -o-transition: opacity 0.8s;
  transition: transform 0.8s;
  -moz-transition: transform 0.8s;
  -webkit-transition: transform 0.8s;
  -o-transition: transform 0.8s;
}
