doctype html
html(lang="ja")
	head
		title More Publishing by Susumu Seino
		link(rel='stylesheet', href='./assets/css/app.css')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(charset='utf-8')
		script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
		script(src='src/js/app.js')
		script(src='assets/js/skill.js')
		link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css')
		script(src='//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js')
	body
		.page
			.box.red
				.typewriter
					h1 More Publishing
					a.typewrite(href='', data-period='2000', data-type='[ "     ", "Hi, I am  Susumu.", "I am Creative.", "I Love to Develop.", "I Love WordPress." ]')
					span.wrap
					ul.menu
						li.menu__item
							a(href='http://susu.mu/wp') BLOG
						li.menu__item
							a(href='https://profiles.wordpress.org/musus') WordPress
						li.menu__item
							a(href='https://github.com/musus') CODE
				#large-header.large-header
					canvas#demo-canvas
			.box.street.skill
				.row
					.col-sm-6.col-xs-12
						h1 Susumu Seino
						p I'm a Japanese digital nomad that loves creating products online. My typical day to day consists of Digital Marketing, WordPress, and Front-End Design.
						p Usually, I live in Tokyo but that lives multiple residences in various locations because in the middle of different environment lies new idea.
						hr
						p デジタルマーケティング・WordPressを活用したサイトやサービス開発・フロントエンドデザインを行いながら生活しているデジタルノマドな日本人です。9歳の頃にHTMLを書き始めてからオンラインプロダクトに対する夢と憧れがあり、26歳で独立して今に至ります。
						p 普段は東京に住んでいますが新しいアイディアを探すために多拠点という生活を目指し、年間1/3は国内外問わず東京以外で生活しています。
					.col-sm-6.col-xs-12
						img(src='assets/img/profile-pic.jpg')

		script(src='js/canvas.js')